syntax glob

#IDE related files
.idea
*.iml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
venv*/
env*/


# Misc
.ipynb_checkpoints


# My temp folders, files
temp/
airflow_ml_dags/data/
ml_project.egg-info
build/
dist/